In [ ]:
import pandas as pd
import numpy as np

Вывести топ-3 платежные системы

In [ ]:
df.groupby('payment_system', as_index=False).aggregate({'money1': 'sum'}).sort_values('money1', ascending=False)
top3_paymentsystem.iloc[0:3]

In [ ]:
#6.	Создать датафрейм data_analysts с данными только где job_title=’Data_Analyst’
data_analysts = df.query('job_title == "Data Analyst"')
data_analysts.head(3)

In [ ]:
#7.	Посмотреть, в компаниях каких стран дата-аналитики в среднем зарабатывают больше всего 
#(аналогичную группировку для размера компаний)
da_country =data_analysts.groupby('company_location', as_index=False).agg({'salary_in_usd': 'mean'}).rename(columns={'salary_in_usd': 'salary_in_usd_avg'})\
.sort_values(['salary_in_usd_avg'], ascending=[False])
da_country

In [ ]:
#9.	Сравните среднюю зарплату дата-аналитика и для других топ-5 (по распространенности) профессий (из пункта 5) 
#*сравнивайте средние зарплаты только специалистов, соответствующих experience_level!
da_top5 = df.query('job_title == "Data Analyst" or job_title == "Data Scientist" or job_title == "Data Engineer" or job_title == "Machine Learning Engineer" or job_title == "Research Scientist"')
pd.pivot_table(da_top5, index='job_title', values='salary_in_usd', aggfunc='mean',fill_value=0, columns='experience_level', margins=False)

In [ ]:
#(*для желающих: в зависимости от level: SE и EX – 10%, EN и MI – 5%).
data_analysts['bonus2']=data_analysts.salary_in_usd*np.where(data_analysts.experience_level =='SE', 0.1, np.where(data_analysts.experience_level =='EX', 0.1, 0.05))
data_analysts

In [ ]:
modify